@import "./Mixins.scss";
@import "./Variables.scss";

.navbar{
    @include respond(tab-port){
    @include flex;
    background:$White;
    overflow-x: scroll;
    scrollbar-width:none;
    max-height:max-content;
    position:fixed;
    bottom:0;
    width:100%;
a{
    color:$Themecolor;
    font-size:30px;
    margin:10px 0;
}
}
}